body{
    background: #f6f5f3;
}
.header{
    z-index: 100;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    background: white;
    border-bottom: black solid 2px;
}
.header form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header input[type="text"]{
    border: solid black 1px;
    padding: 3px 3px;
    border-radius: 2px;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid black 2px;
    position: absolute;
    left: 50px;
    top: 40px;
    transform: translate(0, -50%);
}

.textlogo{
    position: absolute;
    font-family: "Comic Sans MS", cursive, sans-serif;
    left: 150px;
    margin: 0px;
    padding: 0px;
    top: 40px;
    transform: translate(0,-50%);
    text-align: center;
}
.menu{
    position: fixed;
    top: 90px;
    left: 0px;
    margin: 10px;
    width: 25%;
    background: white;
    border-radius: 5%;
}

.menu a{
    width: 100%;
    align-self: center;
    height: 50px;
    line-height: 50px;
    float: left;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    border-radius: 5%;
}

.menu a:hover{
    background: grey;
    color: white;

}

.menu table{
    height: 100px;
    width: 100%;
    border: 0;
}

.menu img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: solid 2px black;
}

.avatar{
    width: 25%;
}

.name{
    width: 75%;
    text-align: center;
}

.postarea{
    width: 70%;
    position: absolute;
    height: auto;
    background: white;
    left: calc(25% + 10px);
    margin: 10px;
    top: 90px;
    display: inline-block;
    z-index: 0;
    padding: 50% auto;
}

.createPost{
    width: 100%;
}
.createPost textarea{
    height: 50px;
    width: 60%;
}
@media screen and (max-width: 600px){
    .header{
        width: 600px;
    }
    .menu{
        width: 200px;
    }
    .postarea{
        left: 220px;
        width: 400px;
    }
}

.post_wrap{
    margin-top:20px;
    margin-bottom: 20px;
    width: 100%;
}

.post_wrap img{
    width: 50%;
}

.post_detail{
    width: 80%;
    margin: auto;
}

.post_authur{
    width: 20%;
    float: left;
}

.post_text{
    width: 80%;
    float: left;
}
.comment{
    width: 30%;
}