body{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.top-bar{
    padding-top:40px;
    border-top: 1px solid rgba(0,0,0,.2);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    float: left;
    background-color: red;
}

.logo-pic{
    width: 130px;
	height: 130px;
	margin: 0 auto;
	margin-bottom: -65px;
}
.logo-pic img{
    float: none;
	border: 5px solid #fff;
	border-radius: 50px;
	width: 100%;
}

.lform{
    border-radius: 1rem;
    border: 1px solid rgba(0,0,0,.2);
    padding: 0;
    background-color: whitesmoke;
    opacity: 0.95;
}
.myform{
    margin-top: 25px;
    width: 100%;
    padding: 1rem;
    float: left;
}
.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
#logVal{
    color: red;
}